.main-menu.menu-light .navigation>li.active>a{
	background: linear-gradient(118deg,#000,rgba(0, 0, 0, .7));
	box-shadow: none;
}

.brand-logo{
	background-image: url(../../../images/logo.jpeg);
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

.brand-logo-login{
	background-image: url(../../../images/logo.jpeg);
    background-size: contain;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-menu .navbar-header{
	height: 120px;
}

.main-menu .main-menu-content {
    margin-top: 20px;
}

.mr-auto, .mx-auto {
    margin: 0 auto;
    margin-bottom: 10px;
}

.main-menu .navbar-header .navbar-brand {
    margin-right: 0;
}

.col-sm-12.col-md-12.col-lg-6.list-product {
    display: none;
}